body {
    max-width: 700px;
    margin: 0 auto;
    heigth: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setters {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}
